html {
    font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10px;
    color: #333333;
    background-color: #ffffff;
    min-height: 100%;
	display: block;
}

html, body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-width: 320px;
    min-height: 100%;
}

body {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.38;
    background-color: #fff7ea;
    word-break: normal;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    min-height: 100vh;
	overflow-y: scroll;
}

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.t-white {
    color: #001e48;
    background-color: #fff7ea;
}

.c-header {
    background-color: #fff7ea;
    color: #001e48;
	width: 100%;
	height: 80px;
}

div {
    display: block;
}

.c-footer {
    margin-top: auto;
    background-color: #d30f4c;
    padding: 30px 20px;
    font-weight: 500;
}